@namespace h "http://www.w3.org/1999/xhtml";
a.figure, a.footnote, a.section, a.reference, a.table {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
h3, h4, h5 {
    margin-bottom: 0.5em;
}
h5 {
    font-size: 1em;
}
p {
    margin: 0.3em 0;
}
blockquote {
    margin: 0.6em 3em;
}
blockquote.centred {
    margin: 1em 0;
    text-align: center;
}
dt {
    font-weight: bold;
}
p.abstract {
     margin: 0 15%;
     text-indent: 1em;
}
div.figure {
    text-align: center;
    margin: 1em 0;
}
div.figure > .caption {
    margin: 0.5em 0;
}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    border-style: solid;
    border-width: 0 1px;
    padding: 0 0.5em;
}
th {
    border: 1px solid black;
    border-bottom-width: 3px;
    padding: 0.2em 0.5em;
}
tr.highlighted {
    background-color: #DDD;
}
ol > li {
    margin: 0.6em 0;
}
.title-authors {
    text-align: center;
}
.title-date {
    text-align: center;
    margin: 0.8em 0;
    font-size: 0.8em;
}